- content_for :title do
  What are you in the mood to eat? - Cravings

.wrapper
  %h1.heading--jumbo Are you in the mood for...

  .choices-container
    .choices
      %button.choice.js-choice#js-left-choice
        %span.choice__icon
          %i.icon{class: "icon--#{'pizza'}"}
        %span.choice__name.js-choice-name
          = "Beverages"
      .choices__divider>
        or
      %button.choice.js-choice#js-right-choice
        %span.choice__icon
          %i.icon{class: "icon--#{'burger'}"}
        %span.choice__name.js-choice-name
          = "Vietnameese"
    %button.choices__neither.has-border.js-choice
      Neither!

  .text--center
    = link_to "I've already decided what I'm eating!", new_meal_path, class: "text--skip"

- content_for :javascript do
  :javascript
    FormAuthenticityToken = "#{form_authenticity_token}";
    Cravings.Mood.Tags = #{@tags.to_json};

  = javascript_include_tag "mood/selection"
