- content_for :title do
  What are you in the mood to eat? - Cravings

.wrapper
  %h1.heading--jumbo Are you in the mood for...

  .choices-container
    .choices
      %button.choice.js-choice#js-left-choice
        %span.choice__icon
          %i.icon
        %span.choice__name.js-choice-name
      .choices__divider>
        or
      %button.choice.js-choice#js-right-choice
        %span.choice__icon
          %i.icon
        %span.choice__name.js-choice-name
    %button.choices__neither.has-border.js-choice
      Neither!

  .grid--rev.choices__footer
    .grid__item.one-whole.lap-and-up-one-half.choices__chosen>
      .js-selected-tags.js-hidden
        %p.push-half--bottom You are in the mood for:
        %ul.list--tags
    .grid__item.one-whole.lap-and-up-one-half>
      = link_to "I've already decided what I'm eating!", new_meal_path, class: "text--skip"

- content_for :javascript do
  :javascript
    FormAuthenticityToken = "#{form_authenticity_token}";
    Cravings.Mood.maxSelections = #{Setting.get("max_selections")};
    Cravings.Mood.Tags = #{@tags.to_json};

  = javascript_include_tag "mood/selection"
